In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import tensorflow as tf

from tensorflow_addons.metrics import RSquare

In [34]:
data = pd.read_csv('vgsales.csv', index_col='Rank')

In [35]:
data

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [36]:
columns_to_drop = ['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']

data.drop(columns_to_drop, axis=1, inplace=True)

In [37]:
data

      Platform    Year         Genre   Publisher  Global_Sales
Rank
1          Wii  2006.0        Sports    Nintendo         82.74
2          NES  1985.0      Platform    Nintendo         40.24
3          Wii  2008.0        Racing    Nintendo         35.82
4          Wii  2009.0        Sports    Nintendo         33.00
5           GB  1996.0  Role-Playing    Nintendo         31.37
...        ...     ...           ...         ...           ...
16596      GBA  2002.0      Platform       Kemco          0.01
16597       GC  2003.0       Shooter  Infogrames          0.01
16598      PS2  2008.0        Racing  Activision          0.01
16599       DS  2010.0        Puzzle    7G//AMES          0.01
16600      GBA  2003.0      Platform     Wanadoo          0.01

[16598 rows x 5 columns]

In [38]:
data.isnull().sum()

Platform          0
Year            271
Genre             0
Publisher        58
Global_Sales      0
dtype: int64

In [39]:
data['Year'] = data['Year'].fillna(data['Year'].mean())

In [40]:
data = data.dropna(axis=0)

In [41]:
data.isnull().sum()

Platform        0
Year            0
Genre           0
Publisher       0
Global_Sales    0
dtype: int64

# Encoading

In [42]:
data

      Platform    Year         Genre   Publisher  Global_Sales
Rank
1          Wii  2006.0        Sports    Nintendo         82.74
2          NES  1985.0      Platform    Nintendo         40.24
3          Wii  2008.0        Racing    Nintendo         35.82
4          Wii  2009.0        Sports    Nintendo         33.00
5           GB  1996.0  Role-Playing    Nintendo         31.37
...        ...     ...           ...         ...           ...
16596      GBA  2002.0      Platform       Kemco          0.01
16597       GC  2003.0       Shooter  Infogrames          0.01
16598      PS2  2008.0        Racing  Activision          0.01
16599       DS  2010.0        Puzzle    7G//AMES          0.01
16600      GBA  2003.0      Platform     Wanadoo          0.01

[16540 rows x 5 columns]

In [43]:
data['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [44]:
data['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [45]:
data

      Platform    Year         Genre   Publisher  Global_Sales
Rank
1          Wii  2006.0        Sports    Nintendo         82.74
2          NES  1985.0      Platform    Nintendo         40.24
3          Wii  2008.0        Racing    Nintendo         35.82
4          Wii  2009.0        Sports    Nintendo         33.00
5           GB  1996.0  Role-Playing    Nintendo         31.37
...        ...     ...           ...         ...           ...
16596      GBA  2002.0      Platform       Kemco          0.01
16597       GC  2003.0       Shooter  Infogrames          0.01
16598      PS2  2008.0        Racing  Activision          0.01
16599       DS  2010.0        Puzzle    7G//AMES          0.01
16600      GBA  2003.0      Platform     Wanadoo          0.01

[16540 rows x 5 columns]

In [46]:
onehot_columns = ['Platform', 'Genre', 'Publisher']

In [47]:
def onehot_encode(data, columns):
    for column in columns:
        dummies = pd.get_dummies(data[column])
        data = pd.concat([data, dummies], axis=1)
        data.drop(column, axis=1, inplace=True)
    return data

In [48]:
data = onehot_encode(data, onehot_columns)

In [49]:
data

,Year,Global_Sales,2600,3DO,3DS,DC,DS,GB,GBA,GC,...,Zushi Games,bitComposer Games,dramatic create,fonfun,iWin,id Software,imageepoch Inc.,inXile Entertainment,"mixi, Inc",responDESIGN
Rank,,,,,,,,,,,,,,,,,,,,,
1,2006.0,82.74,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1985.0,40.24,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2008.0,35.82,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2009.0,33.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1996.0,31.37,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16596,2002.0,0.01,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16597,2003.0,0.01,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16598,2008.0,0.01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16599,2010.0,0.01,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16600,2003.0,0.01,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# Scaling

In [50]:
y = data['Global_Sales']
X = data.drop('Global_Sales', axis=1)

In [51]:
X

,Year,2600,3DO,3DS,DC,DS,GB,GBA,GC,GEN,...,Zushi Games,bitComposer Games,dramatic create,fonfun,iWin,id Software,imageepoch Inc.,inXile Entertainment,"mixi, Inc",responDESIGN
Rank,,,,,,,,,,,,,,,,,,,,,
1,2006.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1985.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2008.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2009.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1996.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16596,2002.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16597,2003.0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16598,2008.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16599,2010.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16600,2003.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
scaler = StandardScaler()

X = scaler.fit_transform(X)

In [53]:
X.shape

(16540, 622)

# Training

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [55]:
from sklearn.linear_model import LinearRegression

In [56]:
regressor = LinearRegression()

In [57]:
regressor.fit(X_train, y_train)

LinearRegression()

In [58]:
y_train

Rank
14605    0.03
4736     0.41
13134    0.05
7206     0.22
705      2.28
         ...
2460     0.84
15035    0.02
13691    0.04
13019    0.05
4145     0.48
Name: Global_Sales, Length: 13232, dtype: float64

In [59]:
pred = regressor.predict(X_test)

In [60]:
pred

array([ 9.30877686e-01,  1.99432373e-01,  2.68628369e+14, ...,
       -5.40802002e-01,  4.35760498e-01,  5.82977295e-01])

In [61]:
regressor.score(X_test,y_test)

-2.52858508463311e+27